<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="TempratureMonitor" providerName="System.Data.SqlClient" connectionString="Server=(localdb)\\ProjectsV12;AttachDbFileName=TemperatureMonitor;Integrated Secutity= true;" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
